.create-form
{
	margin-left: auto;
	margin-right: auto;
	width:50%;
}

.block
{
	margin:20px;
	height:auto;
	background-color: rgba(230,230,230,0.4);
	float:left;
	border-radius: 8px;
	overflow-y: scroll;

}
#bfirst
{
	width:20%;
	min-height: 50px;
	max-height: 428px;

}
#bsecond
{
	width:30%;
	min-height: 200px;
	max-height: 80%;
}
#bthird
{
	min-height: 300px;
	max-height: 549px;
	width:40%;
}

.wblock
{
	margin:auto;
	width:98%;
	height:98%;
	background-color: rgba(255,255,255,0.8);
	border-radius: 8px;
	margin-top: 5px;
	margin-bottom: 8px;
}
input
{
	margin-right: 2px;
	padding:1px;
}
label
{
	padding:2px;
}
#cr_idea
{
	margin-left: 3px;
	padding:2px;
}
#idea_cal li,#idea_place li.pl
{
	padding: 15px;
	box-shadow: 2px 2px 2px gray;
	border-radius: 5px;
	min-height: 40px;
	
}
#idea_place li.pl
{
	height:150px;
	overflow:hidden;
}
#idea_cal li:hover
{
	background-color: rgba(180,180,180,0.4);
}

var
{
	font-style: normal;
	font-size: 11px;
	padding-left: 20px;
}
.round var
{
	color:white;
	padding-left: 0px;
	padding-top:10px;
	font-size: 18px;
	vertical-align: middle;
	float:none;
}
.round
{
	float:left;
	width:36px;
	height: 36px;
	border-radius: 18px;
	background-color: rgba(51,92,174,0.8);
	text-align:center;
	vertical-align:center;

}
.round2
{
	float:right;
	width:30px;
	height: 30px;
	border-radius: 20px;
	background-color: rgba(51,92,174,0.8);
	text-align:center;
	vertical-align:center;
	margin-top:7px;
	color:white;
	font-size: 19px;
	font-weight:bold;
}
.pad
{
	padding-top: 5px;
}
::-webkit-scrollbar {
	display:none;
}
.datepicker,#source,#dest
{
	width:72px;
}
.sd
{
	font-style: normal;
	font-size: 15px;
	padding-top:30px;
}
.picture
{
	float:left;
	max-height: 150px;
}
img.place
{
	max-height: 150px;
	width:200px;
	overflow-y: hidden;
	border-radius: 13px;
	box-shadow: 3px 3px 5px gray;
}
.pinfo
{
	width:210px;
	float:left;
	
	padding-left: 18px;
}
.pinfo p
{
	
	font-style: normal;
}
.name
{
	font-weight: bold;
	font-size: 16px;
}
.des
{
	padding-top: 4px;
	height:87px;
	overflow-y: hidden;
}
.descr
{
	color: #777;
}
.tablinks
{
	color:black;
}
.tabcontent
{
	display:none;
	min-height: 200px;
}
.tabcontent:first-child
{
	display:block;

}
.date
{
	font-size: 17px;
	padding:20px;
	color:rgba(51,92,174,0.7);;
}